@charset "utf-8";
//二级菜单
.menu {
    @extend %wrap;
}

.menu-title {
    width: 200px;
    float: left;
    height: 36px;
    background-color: #C60A0A;
    position: absolute;
    margin-top: -35px;
    line-height: 36px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: $font16;
    color: #fff;
    text-align: center;
    font-weight: bold;
    .iconfont {
        color: #fff;
        font-size: 20px;
    }
}

.menu-stair {
    float: left;
    background-color: rgba(238, 238, 238, .95);
    width: 196px;
    position: relative;
    border: 2px solid #f5f5f5; //鼠标移入时边框颜色改变
    height: 496px;
    z-index: 100;
}

@mixin menu-second-img($url) {
    padding: 2px 10px;
    background: url($url) no-repeat center center;
    background-size: 100% auto;
}

$redborder:2px solid #c60a0a;
.menu-goods {
    height: 100px;
    padding: 8% 2% 0 2%;
    border-bottom: 1px #eaeaea solid;
    h2 {
        padding-bottom: 3%;
        margin-left: 12px;
        font-weight: normal;
        font-size: $font16*1.125;
        .menu-goods-img {
            padding: 0 12px;
            background: url('http://www.mayzone360.com/shop/templates/default/images/.pnav-icon.png') no-repeat 0px 0px;
        }
        .good-type {
            color: #000;
            padding-left: 10px;
            padding-right: 30px;
        }
        .pullright {
            display: inline-block;
            border: 4px solid transparent;
            font-size: 0;
            border-left: 4px solid #000;
        }
    }
    .good-list {
        margin: 0 auto;
        font-size: $font;
        width: 58%;
        text-align: center;
        line-height: 28px;
    }
    &.active {
        background-color: #fff;
        a {
            color: #C60A0A;
        }
        .menu-goods-img {
            background: url('http://www.mayzone360.com/shop/templates/default/images/.pnav-icon.png') no-repeat -26px 0px;
        }
        .pullright {
            border-left: 4px solid #C60A0A;
        }
    }
    .menu-second {
        display: none;
        padding-left: 30px;
        position: absolute;
        top: -2px;
        left: 196px;
        background-color: #fff;
        width: 650px;
        height: 100%;
        border-top: $redborder;
        border-right: $redborder;
        border-bottom: $redborder;
        .menu-second-li {
            width: 80%;
        }
        h6 {
            margin-top: 20px;
            border-bottom: 1px dotted #ccc;
            line-height: 26px;
            .menu-second-img1 {
                @include menu-second-img('http://www.mayzone360.com/data/upload/shop/common/category-pic-25.jpg');
            }
            .menu-second-img2 {
                @include menu-second-img('http://www.mayzone360.com/data/upload/shop/common/category-pic-103.jpg');
            }
            .menu-second-img3 {
                @include menu-second-img('http://www.mayzone360.com/data/upload/shop/common/category-pic-20.jpg');
            }
            .menu-second-img4 {
                @include menu-second-img('http://www.mayzone360.com/data/upload/shop/common/category-pic-411.jpg');
            }
            .menu-second-img5 {
                @include menu-second-img('http://www.mayzone360.com/data/upload/shop/common/category-pic-412.jpg');
            }
            a {
                font-size: 14px;
                font-weight: bold;
                color: #000;
                padding-left: 4px;
            }
        }
        a {
            color: #999;
            font-size: 13px;
            padding: 0 12px 0 0;
        }
        p {
            padding: 0 30px;
        }
        p a:hover {
            color: #333;
        }
    }
}

@for $i from 2 through 4 {
    .menu-stair :nth-child(#{$i}) .menu-goods-img {
        background: url('http://www.mayzone360.com/shop/templates/default/images/.pnav-icon.png') no-repeat 0px -25px*$i+25;
    }
    .menu-stair :nth-child(#{$i}):hover .menu-goods-img {
        background: url('http://www.mayzone360.com/shop/templates/default/images/.pnav-icon.png') no-repeat -26px -25px*$i+25;
    }
}

//轮播图
.slideshow {
    position: relative;
    height: 500px;
}

.slide-pics li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 500px;
}

.slide-img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -565px;
}

li.slide-picbox1 {
    background-color: rgb(253, 249, 145);
}

.slide-picbox2 {
    background-color: rgb(232, 232, 232);
}

.slide-picbox3 {
    background-color: rgb(4, 200, 255);
}

.slide-picbox4 {
    background-color: rgb(77, 163, 2);
}

//轮播图圆点
.slide-dots {
    position: absolute;
    bottom: 3%;
    left: 50%;
    margin-left: -64px;
    .slide-circle {
        float: left;
        width: 18px;
        height: 18px;
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 50%;
        background: url('http://www.mayzone360.com/shop/templates/default/images/tg.png') no-repeat -1px -1px;
        margin: 0 5px;
    }
}

//轮播图下方运动的红线
.slide-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0%;
    background: url('http://www.mayzone360.com/shop/templates/default/images/timer.png') no-repeat top right;
}

//返回顶部
.totop {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 3%;
    right: 3%;
    background: url('http://www.mayzone360.com/shop/templates/default/images/index/return.png') no-repeat 0 0;
    &:hover {
        background: url('http://www.mayzone360.com/shop/templates/default/images/index/return02.png') no-repeat 0 0;
        cursor: pointer;
    }
}