.head, .search, .title, .menu, .group-list, .ban-img, .sec-wrap, .foot-img, .f-ul, .f-wrap {
  width: 1230px;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Microsoft YaHei";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: none;
}

a {
  text-decoration: none;
  color: #666;
}

input {
  outline: none;
}

body {
  min-width: 1230px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear-float::after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.header {
  height: 30px;
  background-color: #eee;
  border-bottom: 1px solid #dfdfdf;
  color: #666666;
}

.head {
  line-height: 30px;
}

.head-l {
  float: left;
}
.head-l span,
.head-l a {
  display: block;
  float: left;
  font-size: 12px;
  margin-left: 4px;
}

.head-r {
  float: right;
  width: 520px;
  line-height: 30px;
  font-size: 12px;
}

.h-item, .h-item ul {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.h-item {
  position: relative;
  float: right;
  width: 92px;
  text-align: center;
}
.h-item ul {
  display: none;
  position: absolute;
  top: 28px;
  background-color: #fff;
  width: 100%;
  text-align: left;
  z-index: 10;
  border-bottom: 1px solid #eee;
}
.h-item ul li {
  margin-left: 12px;
}

.h-item:hover {
  background-color: #fff;
  cursor: pointer;
}

.h-item:hover ul {
  display: block;
}

.h-buy {
  float: right;
  width: 42px;
}

.search {
  padding-top: 2%;
}

.logo {
  float: left;
  width: 15%;
  padding-left: 0.5%;
  margin-top: -2.5%;
}
.logo img {
  width: 100%;
  height: auto;
}

.sea {
  float: left;
  width: 49%;
  margin-left: 7%;
}
.sea p {
  height: 16px;
  font-size: 14px;
  margin: 1%;
}
.sea p a {
  color: #808080;
  float: left;
  padding: 0 1%;
  line-height: 14px;
  border-right: 1px solid #dcdcdc;
}

.inputbox {
  background-color: #cc0000;
  overflow: hidden;
}
.inputbox input {
  width: 79%;
  border: 2px solid #cc0000;
  float: left;
  padding: 2% 0 2% 2%;
  height: 16px;
  font-size: 12px;
}
.inputbox a {
  display: block;
  width: 17.5%;
  text-align: center;
  color: #fff;
  font-size: 18px;
  float: right;
  line-height: 40px;
  height: 40px;
}

.s-buy, .s-person {
  float: right;
  height: 20px;
  line-height: 20px;
  padding: 9px;
  text-align: center;
  color: #555;
  background-color: #FAFAFA;
  border: 1px solid #dddddd;
  position: relative;
}
.s-buy .s-font, .s-person .s-font {
  font-size: 12px;
  cursor: pointer;
}

.s-buy-massage, .s-person-massage {
  display: none;
  position: absolute;
  top: 40px;
  right: -1px;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #f0f0f0;
}

.s-buy {
  width: 106px;
}
.s-buy:hover {
  background-color: #fff;
  height: 22px;
  border-bottom: 0px;
}
.s-buy:hover .s-buy-massage {
  display: block;
}
.s-buy:hover .s-line {
  display: block;
}

.s-buy-massage .s-line, .s-person-massage .s-line {
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -1px;
  right: 0;
  display: none;
}

.s-buy-massage {
  width: 348px;
}
.s-buy-massage .s-line {
  width: 124px;
}
.s-buy-massage .s-buy-title {
  height: 30px;
  padding: 7px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.s-buy-massage .s-buy-title h4 {
  font-weight: bold;
  line-height: 30px;
  font-size: 12px;
  float: left;
  margin: 16px 0;
}
.s-buy-massage .buy-goods {
  height: 56px;
  text-align: center;
  line-height: 56px;
}
.s-buy-massage .s-tocart {
  background-color: #f0f0f0;
  padding: 8px;
  overflow: hidden;
}
.s-buy-massage .s-tocart a {
  float: right;
  line-height: 20px;
  padding: 4px 8px;
  margin-top: 4px;
  font-size: 12px;
  color: #fff;
  background-color: #D93600;
  border-radius: 4px;
}

.s-person {
  margin-right: 10px;
  width: 90px;
}
.s-person:hover {
  background-color: #fff;
  height: 22px;
  border-bottom: 0px;
}
.s-person:hover .s-person-massage {
  display: block;
}
.s-person:hover .s-line {
  display: block;
}

.s-person-massage {
  width: 308px;
  font-size: 12px;
  color: #005EA6;
}
.s-person-massage .s-line {
  width: 108px;
}
.s-person-massage a {
  color: #005EA6;
}
.s-person-massage .person-title {
  height: 30px;
  line-height: 30px;
  list-style: 30px;
  border-bottom: 1px solid #ddd;
}
.s-person-massage .st-menu {
  overflow: hidden;
  padding: 8px 0;
  position: relative;
  border-bottom: 1px solid #ddd;
}
.s-person-massage .st-menu .st-line {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 1px;
  height: 72px;
  background-color: #ddd;
}

.st-menu .left, .st-menu .right {
  text-align: left;
  width: 138px;
  overflow: hidden;
}
.st-menu .left li, .st-menu .right li {
  padding: 4px 0 4px 16px;
}

.s-history {
  background-color: #fafafa;
}

.his-title {
  overflow: hidden;
  padding: 6px 8px;
}
.his-title h4 {
  font-weight: bold;
  color: #000;
}

.s-history .goods {
  color: #333;
  line-height: 20px;
  padding-bottom: 4px;
}

.title {
  clear: both;
}

.title-nav {
  margin-left: 200px;
  height: 36px;
}

.title-li {
  float: left;
  width: 14%;
  position: relative;
}
.title-li img {
  position: absolute;
  top: -2px;
}
.title-li .title-img1 {
  right: 35px;
}
.title-li .title-img2 {
  right: 16px;
}

.title-link {
  display: block;
  text-align: center;
  margin-top: 5%;
  border-right: 1px solid #dcdcdc;
  color: #000;
}

.menu-title {
  width: 200px;
  float: left;
  height: 36px;
  background-color: #C60A0A;
  position: absolute;
  margin-top: -35px;
  line-height: 36px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.menu-stair {
  float: left;
  background-color: rgba(238, 238, 238, 0.95);
  width: 196px;
  position: relative;
  border: 2px solid #f5f5f5;
  height: 496px;
  z-index: 100;
}

.menu-goods {
  height: 100px;
  padding: 6% 2% 0 2%;
  border-bottom: 1px #eaeaea solid;
}
.menu-goods h2 {
  padding-bottom: 3%;
  font-weight: normal;
  font-size: 18px;
}
.menu-goods h2 .good-type {
  color: #000;
}
.menu-goods .good-list {
  margin: 0 auto;
  font-size: 12px;
  width: 58%;
  text-align: center;
  line-height: 28px;
}
.menu-goods.active {
  background-color: #fff;
}
.menu-goods.active a {
  color: #C60A0A;
}
.menu-goods .menu-second {
  display: none;
  position: absolute;
  top: -2px;
  left: 198px;
  background-color: #fff;
  width: 700px;
  height: 100%;
  border-top: 2px solid #c60a0a;
  border-right: 2px solid #c60a0a;
  border-bottom: 2px solid #c60a0a;
}
.menu-goods .menu-second a {
  color: #666;
  font-size: 12px;
}

.slideshow {
  position: relative;
  height: 500px;
}

.slide-pics li {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 500px;
}

.slide-img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -565px;
}

li.slide-picbox1 {
  background-color: #fdf991;
}

.slide-picbox2 {
  background-color: #e8e8e8;
}

.slide-picbox3 {
  background-color: #04c8ff;
}

.slide-picbox4 {
  background-color: #4da302;
}

.slide-dots {
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -64px;
}
.slide-dots .slide-circle {
  float: left;
  width: 18px;
  height: 18px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  background: url("http://www.mayzone360.com/shop/templates/default/images/tg.png") no-repeat -1px -1px;
  margin: 0 5px;
}

.slide-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  width: 0%;
  background: url("http://www.mayzone360.com/shop/templates/default/images/timer.png") no-repeat top right;
}

.group {
  background-color: #F5F5F5;
  padding: 32px 0;
}

.group-list {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.group-good {
  width: 238px;
  height: 292px;
  float: left;
  position: relative;
}
.group-good img {
  height: 100%;
}

.group-sale {
  position: absolute;
  bottom: 18px;
  right: 82px;
  font-size: 12px;
}

.group-cart {
  position: absolute;
  width: 24px;
  bottom: 18px;
  right: 8px;
  font-size: 12px;
  margin-right: 10px;
  transition: 1s;
}
.group-cart:hover {
  margin-right: 0px;
}

.banner {
  background-color: #F5F5F5;
}

.ban-img img {
  width: 100%;
}

.section {
  background-color: #F5F5F5;
}

.sec-wrap {
  overflow: hidden;
}

.pro-tit {
  margin: 16px auto 8px;
  line-height: 24px;
  overflow: hidden;
}

.pro-tit-line {
  width: 5px;
  height: 20px;
  margin-top: 2px;
  margin-right: 8px;
  background-color: #FC7E65;
}

.pro-tit-ch a {
  font-size: 18px;
  color: #000;
  padding-right: 5px;
}

.pro-tit-en a {
  font-size: 14px;
  color: #000;
}

.pro-tit-r a {
  float: left;
  font-size: 12px;
  margin: 0 15px;
}
.pro-tit-r a:hover {
  text-decoration: underline;
  color: #000;
}

.production {
  overflow: hidden;
  height: 520px;
}

.pro-l {
  width: 21.13%;
}
.pro-l img {
  width: 100%;
}

.pro-l-t {
  width: 260px;
  height: 390px;
  margin-bottom: 9px;
}

.pro-l-b {
  width: 260px;
  height: 127px;
}

.pro-r {
  width: 78.04%;
}
.pro-r img {
  width: 100%;
}

.pro-r-list {
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;
}

.pro-r-li {
  float: left;
  width: 239px;
  height: 259px;
}

.footer-img {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

.foot-img img {
  width: 100%;
}

.f-ul {
  overflow: hidden;
}

.f-li {
  float: left;
  width: 10%;
  padding: 2% 5%;
}

.f-tit {
  font-size: 15.2px;
  margin-bottom: 10%;
}

.f-lists {
  font-size: 12px;
  margin: 4% 0;
}
.f-lists a {
  color: #000;
}
.f-lists a:hover {
  text-decoration: underline;
}

.f-bottom {
  background-color: #000;
  color: #fff;
  font-size: 12px;
}
.f-bottom a {
  color: #fff;
}

.f-wrap {
  padding: 0.8% 0;
}

.f-bottom-nav, .partner {
  text-align: center;
  margin: 0.5% auto;
  line-height: 24px;
}
.f-bottom-nav a, .partner a {
  padding: 0 0.3%;
}
.f-bottom-nav a:hover, .partner a:hover {
  text-decoration: underline;
}

.f-bottom-nav span, .partner span {
  font-size: 16px;
}

.f-img {
  text-align: center;
  padding-top: 10px;
}
.f-img img {
  width: 122px;
  margin: 0 10px;
}

.f-number {
  margin: 0.5% auto;
  text-align: center;
  line-height: 24px;
}
.f-number a:hover {
  text-decoration: underline;
}
.f-number span {
  padding: 0 6px;
}

/*# sourceMappingURL=index.css.map */
